@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

body {
  font-size: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
}

select, input, button, textarea {
  font-size: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
}

#dcpLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 3%;
  margin-top: 3%;
  min-width: 1.5in !important;
}

.item {
  background-color: lightgray;
}

.row {
  align-items: center;
}

.pHead {
  margin: 3px;
}

table {
  margin-top: 20px;
  width: 100%;
}

tbody:nth-child(odd) {
  background-color: lightgrey;
}

/* thead > tr {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
} */

tr :first-child {
  text-align: left;
}

td > button {
  margin-right: 2vw;
}

tbody > tr :nth-child(2) {
  width: 50%;
}

tr :nth-child(3) {
text-align: end;
}

td {
  border: 1px solid rgb(110, 110, 110);
  padding: 0px 10px !important;
}

textarea {
  grid-area: 2 / 1 / 3 / 4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

p {
  font-size: .8rem;
  position: relative;
  bottom: 0;
}

#newItem {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgrey;
}

#addItem {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#addItem select{
  width: 100%;
}

#addItem input {
  width: 100%;
}

@media only screen
and (min-width : 320px)
and (max-width : 768px) {
 #addItem {
  grid-template-columns: 1fr 1fr 1fr;
 }
 .text-end {
  text-align: inherit !important;
 }
}


@media print {
  #newItem {
    visibility: hidden;
    display: none;
  }
}

input:-internal-autofill-selected {
  background-color: #fff !important;
  color: #000 !important;
}