@font-face {
  font-family: 'Tungsten-SemiBold';
  src: url(fonts/Tungsten-Semibold.otf) format('opentype');
  letter-spacing: 2pt;
}

@font-face {
  font-family: 'GT-Eesti-Regular';
  src: url(fonts/GT-Eesti-Display-Regular.otf) format('opentype');
}

h1 {
  font-family: 'Tungsten-SemiBold', sans-serif;
  font-size: 3rem;
  /* font-weight: 600; */
  margin-bottom: 1rem;
}

body {
  font-size: 1.2rem;
  font-family: 'GT-Eesti-Regular', sans-serif;
}

select, input, button, textarea {
  font-size: 1.2rem;
  font-family: 'GT-Eesti-Regular', sans-serif;
  border-radius: 5px;
}

.commentIcon {
  color: #888;
  margin: 5px;
  /* position: relative; */
}

.dragging {
  opacity: 30%;
}

.highlight {
  background-color: #ff424281;
  padding: 1rem;
}

.item {
  background-color: lightgray;
}

/* .motionRow {
  grid-template-columns: .25fr .25fr .25fr .25fr;
} */

.motionRow td {
  text-align: left !important;
}

.noBreak {
  break-inside: avoid;
}

.pHead {
  margin: 3px;
}

.pHead input {
  align-content: right;
}

.pHead label {
  justify-self: left;
}

.row {
  align-items: center;
}

.sign {
  border: 1px solid #888;
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem;
}

.typeTD {
  padding-left: 35px !important;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.typeTD:active {
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}

table {
  margin-top: 20px;
  width: 100%;
}

tbody {
  break-inside: avoid;
  position: relative;
}

tbody:nth-child(odd) {
  background-color: lightgrey;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

td > button {
  position: absolute;
  left: 2px;
}

tbody > tr :nth-of-type(td) {
  width: 40%;
}

tr > td:nth-child(3) {
  text-align: end;
}

tr > th:nth-child(3) {
  text-align: end;
}

tr > th:nth-child(2) {
  text-align: center;
}

td {
  border: 1px solid rgb(110, 110, 110);
  padding: 0px 10px !important;
}

p {
  font-size: .8rem;
  position: relative;
  bottom: 0;
}

ol {
  padding: 0;
  margin: 0;
  font-size: .8rem;
}

#addItem {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#addItem select{
  width: 100%;
}

#addItem input {
  width: 100%;
}

#clear {
  font-size: 1rem;
}

#conditions {
  grid-area: 2 / 1 / 3 / 4;
}

#dcpLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 3%;
  margin-top: 3%;
  min-width: 1.5in !important;
}

#newItem {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgrey;
}

#NPU {
  font-size: 1.4rem;
}

#pNotes {
  width: 100%;
  white-space: pre-wrap;
  font-size: 1.2rem;
}

#print {
  border-radius: 5px;
}

#signature {
  break-inside: avoid;
}

#signature input {
  width: 100%;
}

#submit, #clear {
  grid-area: 3 / 3 / 4 / 4;
  border-radius: 5px;
}

@media only screen
and (max-width : 768px) {
  #addItem {
  grid-template-columns: 1fr 1fr 1fr;
 }
 .text-end {
  text-align: inherit !important;
 }
 tbody > tr :nth-child(2) {
  width: 33%;
}

}

@media only screen
and (max-width : 425px) {
  .container {
    width: 100% !important;
  }
  #dcpLogo {
    width: 80%;
   }
   #submit {
    grid-area: 3 / 1 / 4 / 4;
  }
}

@page {
  margin: 0mm !important;
}

@media print {
  #newItem {
    visibility: hidden;
    display: none;
  }
  #signature {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  }
  body {
    margin: 0.2 !important;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  #fillToggle {
    display: none;
  }
  .typeTD {
    padding-left: 10px !important;
  }
  #clear {
    display: none !important;
  }
  input, select {
    border: none;
    outline: none;
    box-shadow: none;
  }
  #pageInfo input {
    background-color: transparent;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
}

/* Autofill toggle switch */
  input:-webkit-any(autofill),
  input:-internal-autofill-selected,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px inset;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border-width: 2px !important;
    border-radius: 5px;
    background-color: #fff !important;
    color: #000 !important;
    font-size: 1.2rem !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 0px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Scroll bars */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: whitesmoke;
}

::-webkit-scrollbar
{
	width: 4px;
	background-color: whitesmoke;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}